header {
  position: relative;
  background: linear-gradient(135deg, #3b1f14, #111);
  padding: 18px 30px;
  border-bottom: 4px solid #d4a017;
  text-align: center;
}

/* Slogan no canto superior esquerdo */
header .slogan {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 170px;
  height: auto;
}

header h1 {
  color: #d4a017;
  font-size: 70px;
  letter-spacing: 1px;
  margin: 0 0 18px 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #f4efe9;
  font-weight: 800;
  position: relative;
  font-size: 23px;
}

header a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #d4a017;
  transition: .3s;
}

header a:hover::after {
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {

  header .slogan{
    position: static;
    display:block;
    margin:0 auto 15px;
    width:130px;
  }

  header h1{
    font-size:45px;
  }

  header ul{
    flex-wrap:wrap;
    gap:20px;
  }

  header a{
    font-size:18px;
  }
}