.footer{
  position: relative;
  background:#3b1f14;
  color:#f4efe9;
  border-top:4px solid #d4a017;
    padding: 10px 20px; 
}

.footer-container{
  max-width:1000px;
  margin:auto;
  padding:10px 15px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:180px;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
}

.footer h3{
  color:#d4a017;
  margin-bottom:10px;
}

.footer p,
.footer a{
  color:#eee;
  text-decoration:none;
  font-size:14px;
}

.footer a:hover{
  color:#d4a017;
}

.social img{
  width:35px;
  margin-right:8px;
  transition:.3s;
}

.social img:hover{
  transform:translateY(-8px);
}

.footer-copy{
  text-align:center;
  padding:15px;
  font-size:13px;
  background:#3b1f14;
}

/* slogan no canto inferior direito */

.footer-slogan{
  position:absolute;
  right:20px;
  bottom:15px;
  width:140px;
  height:auto;
}

@media(max-width:768px){

  .footer-slogan{
    position:static;
    display:block;
    margin:20px auto 10px;
    width:120px;
  }

}